{{!
You can use this template to render any errors on your site if you wish
}}

{{#if message1}}
    <p class="error">{{message1}}</p>
{{else if message2}}
    <p class="error">{{message2}}</p>
{{else}}
<p class="not-found">We're sorry, but no results were found for {{searchMoviesByName}}.</p>
{{/if}}
<a href="/">Search for Another Movie</a>
